:root,
html[data-theme="light"] {
  --primary-bg: hsl(50, 84%, 90%);
  --primary-txt: #1a1a1a;

  --secondary-color: hsl(51, 37%, 80%);

  --btn-color: hsl(198, 95%, 20%);
  --btn-hover-txt: #cccccc;
}

html[data-theme="dark"] {
  --primary-bg: hsl(229, 51%, 20%);
  --primary-txt: #cccccc;

  --secondary-color: hsl(228, 53%, 27%);

  --btn-color: hsl(55, 71%, 70%);
  --btn-hover-txt: #1a1a1a;
}
