:root,
html[data-theme="light"] {
  --primary-bg: hsl(237 14 80);
  --primary-txt: #1a1a1a;

  --secondary-color: hsl(235, 9%, 73%);

  --btn-color: hsl(289 2 23);
  --btn-hover-txt: #cccccc;
}

html[data-theme="dark"] {
  --primary-bg: hsl(220 8 10);
  --primary-txt: #cccccc;

  --secondary-color: hsl(210, 10%, 12%);

  --btn-color: hsl(94 10 66);
  --btn-hover-txt: #1a1a1a;
}
